parameters:
  file_storage.default_adapter: 'local'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  Tourze\FileStorageBundle\Service\:
    resource: '../../Service/'
  Tourze\FileStorageBundle\Controller\:
    resource: '../../Controller/'
  Tourze\FileStorageBundle\Repository\:
    resource: '../../Repository/'
  Tourze\FileStorageBundle\Command\:
    resource: '../../Command/'
  Tourze\FileStorageBundle\EventListener\:
    resource: '../../EventListener/'
  Tourze\FileStorageBundle\Form\:
    resource: '../../Form/'
